# Importar Pandas

In [79]:
    import pandas as pd
>>> datos = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'],
... 'edad':[18, 22, 20, 21],
... 'grado':['Economía', 'Medicina', 'Arquitectura', 'Economía'],
... 'correo':['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
... }
>>> df = pd.DataFrame(datos)
>>> print(df)

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

# Crear una Serie

In [ ]:
# Crea una Serie de los numeros 10, 20 and 10.

In [80]:
   import pandas as pd
   s = pd.Series(['10', '20', '10'], dtype='string')
   print(s)

0    10
1    20
2    10
dtype: string

In [ ]:
# Crea una Serie con tres objetos: 'rojo', 'verde', 'azul'

In [81]:
   import pandas as pd
   s = pd.Series(['rojo', 'verde', 'azul'], dtype='string')
   print(s)

0     rojo
1    verde
2     azul
dtype: string

# Crear un Dataframe

In [ ]:
# Crea un dataframe vacío llamado 'df'

In [82]:
>>> import pandas as pd
>>> df = pd.DataFrame()
>>> print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Crea una nueva columna en el dataframe, y asignale la primera serie que has creado

In [83]:
    import pandas as pd
>>> datos = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'],
... }
>>> df = pd.DataFrame(datos)
>>> print(df)

    nombre
0    María
1     Luis
2   Carmen
3  Antonio

In [ ]:
# Crea otra columna en el dataframe y asignale la segunda Serie que has creado

In [84]:
    import pandas as pd
>>> datos = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'],
... 'grado':['Economía', 'Medicina', 'Arquitectura', 'Economía'],
... }
>>> df = pd.DataFrame(datos)
>>> print(df)

    nombre         grado
0    María      Economía
1     Luis      Medicina
2   Carmen  Arquitectura
3  Antonio      Economía

# Leer un dataframe

In [ ]:
# Lee el archivo llamado 'avengers.csv" localizado en la carpeta "data" y crea un DataFrame, llamado 'avengers'. 
# El archivo está localizado en "data/avengers.csv"

In [22]:
# df = pd.read_csv('./data/primary_results.csv')

df = pd.read_csv('./datos/avengers.csv')

NameError: name 'pd' is not defined

In [ ]:
import pandas as pd
airbnb = pd.read_csv("./data/avengers.csv")

In [25]:
avengers.head()

NameError: name 'airbnb' is not defined

# Inspeccionar un dataframe

In [8]:
# Muestra las primeras 5 filas del DataFrame.

In [93]:
df.head()

    nombre         grado
0    María      Economía
1     Luis      Medicina
2   Carmen  Arquitectura
3  Antonio      Economía

In [ ]:
vengadores.head()

In [ ]:
# Muestra las primeras 10 filas del DataFrame.

In [ ]:
# Muestra las últimas 5 filas del DataFrame.

# Tamaño del DataFrame

In [ ]:
# Muestra el tamaño del DataFrame

In [39]:
import pandas as pd
pd.read_csv("datos/vengadores.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'datos/vengadores.csv'

In [40]:
df.head()

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

# Data types en un DataFrame

In [ ]:
# Muestra los data types del dataframe

In [31]:
    import pandas as pd
>>> datos = {'nombre':['María', 'Luis', 'Carmen', 'Antonio'],
... 'edad':[18, 22, 20, 21],
... 'grado':['Economía', 'Medicina', 'Arquitectura', 'Economía'],
... 'correo':['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']
... }

In [29]:
>>> df = pd.DataFrame(datos)
>>> print(df)

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [32]:
>>> import pandas as pd
>>> df = pd.DataFrame([['María', 18], ['Luis', 22], ['Carmen', 20]], columns=['Nombre', 'Edad'])
>>> print(df)

   Nombre  Edad
0   María    18
1    Luis    22
2  Carmen    20

In [33]:
>>> import pandas as pd
>>> df = pd.DataFrame([{'Nombre':'María', 'Edad':18}, {'Nombre':'Luis', 'Edad':22}, {'Nombre':'Carmen'}])
>>> print(df)

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

# Editar el indice (index)

In [ ]:
# Cambia el indice a la columna "fecha_inicio".

In [48]:
import pandas as pd
import numpy as np
index = pd.MultiIndex.from_product([
    ['Burger', 'Steak', 'Sandwich'], 
    ['Half', 'Full']], 
    names=['Item', 'Type'])
df = pd.DataFrame(index=index, 
                  data=np.random.randint
                  (0, 10, (6,4)), 
                  columns=list('abcd'))
print(df)

               a  b  c  d
Item     Type
Burger   Half  5  2  3  1
         Full  9  0  5  0
Steak    Half  4  6  0  9
         Full  2  3  3  0
Sandwich Half  6  0  5  8
         Full  9  7  0  7

# Ordenar el indice

In [ ]:
# Ordena el índice de forma descendiente

In [44]:
import pandas as pd
df = pd.DataFrame([
    (1,2,None),
    (None,4,None),
    (5,None,7),
    (5,None,None)
    ],columns=['a','b','d'])
df['index'] = df.index
print(df)

     a    b    d  index
0  1.0  2.0  NaN      0
1  NaN  4.0  NaN      1
2  5.0  NaN  7.0      2
3  5.0  NaN  NaN      3

In [50]:
df

               a  b  c  d
Item     Type
Burger   Half  5  2  3  1
         Full  9  0  5  0
Steak    Half  4  6  0  9
         Full  2  3  3  0
Sandwich Half  6  0  5  8
         Full  9  7  0  7

# Resetear el indice

In [ ]:
# Resetea el índice

In [47]:
import pandas as pd

df = pd.DataFrame([
    (1,2,None),
    (None,4,None),
    (5,None,7),
    (5,None,None)], 
    columns=['a','b','d'])
df = df.rename_axis('index').reset_index()
print(df)

   index    a    b    d
0      0  1.0  2.0  NaN
1      1  NaN  4.0  NaN
2      2  5.0  NaN  7.0
3      3  5.0  NaN  NaN

In [45]:
import pandas as pd
df = pd.DataFrame([
    (1,2,None),
    (None,4,None),
    (5,None,7),
    (5,None,None)
    ],columns=['a','b','d'])
df['index'] = df.index
print(df)

     a    b    d  index
0  1.0  2.0  NaN      0
1  NaN  4.0  NaN      1
2  5.0  NaN  7.0      2
3  5.0  NaN  NaN      3